<ng-container class="container">
  <section class="section-0">
    <div class="row d-flex justify-content-center mt-3">

      <div class="col-md-5">
        <div class="video-box">
          <video [src]="" class="video-player">
            Seu navegador não possui suporte para mostrar o vídeo.
          </video>
        </div>
      </div>

      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <p class="d-flex justify-content-center text-card">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="d-flex justify-content-center mt-5 btn-align">
          <p>hjaskjsad</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-center mt-5 btn-align">
          <button class="btn btn-success rounded">Saiba Mais</button>
        </div>
      </div>
    </div>
  </section>
</ng-container>

<ng-container>
  <section class="section-1">

  </section>
</ng-container>

<ng-container>
  <section class="section-2">

  </section>
</ng-container>

<ng-container>
  <section class="section-3">

  </section>
</ng-container>

<ng-container>
  <section class="section-4">

  </section>
</ng-container>

<ng-container>
  <section class="section-5">

  </section>
</ng-container>
