<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/img/ethereum-logo.svg" alt="logo" srcset="">
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Applications</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item routerLink="/edit" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon>Link 1
  </a>
  <a mat-list-item routerLink="/edit" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon>Link 2
  </a>
  <a mat-list-item routerLink="/edit" routerLinkActive="list-item-active">
    <mat-icon>edit</mat-icon>Link 3
  </a>
</mat-nav-list>